:root{
    --cor-verde:#1B4436;
    --cor-branco:white;
}

body{
    display: flex;
    margin-left: 127px;
    margin-right: 127px;
    
}
.cabecalho {
    background-color: var(--cor-verde);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.cabecalho nav li {
    display: inline-block;
    color: var(--cor-branco);
    margin: 16px;
}
