:root{
    --cor-linear:#BEC5F4, #B0D4FF,#D2E6FA;
    --cor-quadrado:#E3F2FE;
    --cor-preto:black;
    --cor-pretoLeve:rgba(0, 0, 0, 0.459);
    --cor-h1:#2B3556;
    --cor-vermelho:red;
    --cor-pretoInvisivel:#00000000;
}

body{
    background: linear-gradient(to  right, var(--cor-linear))    
}

.quadradoCEN{
    width: 1500px;
    height: 830px;
    background-color: var(--cor-quadrado); 
    position: absolute;
    transform: translate(10%, 8%);
} 

.menu ul {
    margin: 0;
    padding: 0;
    text-align: center; 
}

.menu ul li {
    display: inline-block;
    margin-right: 100px; 
    font-weight: 500px;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    padding-top: 80px;
    color:var(--cor-pretoLeve);
}

/*hover* hover significa que ao passar o mouse em cima daquele objeto, algo acontecerá*/
.menu ul li:hover {
    font-weight: bold;
    color:var(--cor-preto)
}

/* las-child significa na tradução geral "ùltimo filho", ou seja, última linha ficará sem margen na direita*/
.menu ul li:last-child {
    margin-right: 0;
}

.h1{
    color: var(--cor-h1);
    font-size: 45px;
    text-align: justify;
    text-justify: left;
    position: relative;
    transform: translate(10%, 130%);
    font-family: Arial, Helvetica, sans-serif;
}

.Human{
    color: var(--cor-vermelho);
    font-family: Dancing Script;
    font-size: 55px;
}

.Lil{
    height: 270px;
    width: 490px;
    transform: translate(180%, 5%);
}

.paragrafo{
    font-size: 24px;
    color: var(--cor-pretoLeve);
    transform: translate(10%, -200%);
}
.dot {
    text-align: center;
    height: 10px;
    width: 10px;
    background-color:var(--cor-pretoInvisivel) ;
    border-radius: 50%;
    display: inline-block;
    border-style: solid;
    border-color: var(--cor-pretoLeve);
    transform: translate(910%,-600%);
    margin-right: 10px; 
}

.dot:hover{
    font-weight: bold;
    color:var(--cor-preto);
}

.rodapé ul {
    margin: 0;
    padding: 0;
    text-align: center; 
}

.rodapé ul li {
    display: inline-block;
    margin-right: 60px; 
    font-weight: 500px;
    font-family: "Roboto", sans-serif;
    font-size: 28px;
    padding-top: 80px;
    color:var(--cor-pretoLeve);
}

.rodapé ul li:hover {
    font-weight: bold;
    color:var(--cor-preto)
}

.rodapé ul li:last-child {
    margin-right: 0;
}

.amazon{
    opacity: 40%;
    height: 50px;
    filter: grayscale(100000%);
}