:root{  
    --cor-branco:white;
    --cor-cinza:#333333;
}

body{
    background-color:var(--cor-branco)
}
header{
    background-color: var(--cor-cinza); 
    color: var(--cor-branco);  
}
header nav ul li{
    display: inline-block;
}

.icons{
    filter: grayscale(10000000000000%)
}
